streamlit
streamlit-extras
azure-ai-projects
azure-ai-inference[prompts]
azure-identity
azure-search-documents
pandas
python-dotenv
opentelemetry-api
prompty
azure-monitor-opentelemetry
azure-ai-evaluation[remote]